.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #002c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Collapsible {
  background-color: #0022aa;  
}
.Collapsible_date{
  
}
.Collapsible__trigger {
  display: block; 
  font-size: x-large;
  text-decoration: none;
  color: black;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  background: white;  
}
.Collapsible_date__trigger {
  display: block;
  font-weight: 400;
  font-size: x-large;
  text-decoration: none;
  color: white;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background-color: #03A9F5;
  color: white;
}
  .Collapsible__trigger:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }
 .Collapsible__trigger.is-closed:after {    
      transform: rotateZ(0deg);            
  }
 .Collapsible__trigger.is-open:after {    
      transform: rotateZ(180deg);          
  }
  
  .Collapsible_date__trigger:after {
     font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }
 .Collapsible_date__trigger.is-closed:after {    
      transform: rotateZ(0deg);            
  }
 .Collapsible_date__trigger.is-open:after {    
      transform: rotateZ(180deg);          
  }

  .is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
  .resizedImage {
  	max-width: 100%;
  }
  .eventContainer {
  	
  }
  .car_in{  
  	width:30%;
	height:30%;
	margin-right: 30px;
	margin-left: 0px;
	 object-fit: contain;	
  }
    .car_out{  
  	width:30%;
	height:30%;
	margin-right: 30px;
	margin-left: 0px;
	 object-fit: contain;
	 transform: rotateY(180deg);	
  }
  
    

  .car_in_revert{  
  	width:7%;
	height:7%;
	margin-right: 30px;
	margin-left: 0px;
	 object-fit: contain;	
  }
    .car_out_revert{  
  	width:7%;
	height:7%;
	margin-right: 30px;
	margin-left: 0px;
	 object-fit: contain;
	 transform: rotateY(180deg);	
  }